@using Dashboard.Constants
@using Dashboard.Entities


@if (DisplayFullAvatar)
{
    <div class="@(string.IsNullOrWhiteSpace(AvatarUser.Banner) ? $"bg-[#{AvatarUser.BannerColor}]" : $"bg-[url('{AvatarUser.Banner}')]") 
flex flex-row p-1 gap-x-2 !rounded-full text-white">
        <div class="flex flex-col mx-3">
            <div class="flex flex-row">
                <p class="mix-blend-difference font-bold">@AvatarUser.DisplayName</p>
                @foreach (var flag in Enum.GetValues<DiscordFlags>().Where(flag => AvatarUser.Flags.HasFlag(flag)))
                {
                    @if (!_flagsImageMap.ContainsKey(flag)) continue;

                    <img src="@_flagsImageMap[flag]"
                         alt="@flag.ToString()"
                         class="relative inline-block h-5 w-5 my-auto object-cover object-center"/>
                }
            </div>
            <p class="text-sm mix-blend-difference">@('@' + AvatarUser.Username)</p>
        </div>
        <img
            src="@AvatarUser.AvatarUrl"
            alt="avatar"
            class="relative inline-block h-@Size w-@Size !rounded-full  object-cover object-center"/>
    </div>
}
else
{
    <img
        src="@AvatarUser.AvatarUrl"
        alt="avatar"
        class="relative inline-block h-@Size w-@Size !rounded-full  object-cover object-center"/>
}


@code {
    [Parameter, EditorRequired] public User AvatarUser { get; set; }
    [Parameter] public bool DisplayFullAvatar { get; set; }
    [Parameter] public int Size { get; set; } = 12;

    private Dictionary<DiscordFlags, string> _flagsImageMap = new()
    {
        { DiscordFlags.ActiveDeveloper, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Active_Developer/Active_Developer.svg" },
        { DiscordFlags.VerifiedDeveloper, "https://github.com/Mateo-tem/Discord-Flags-and-Badges/blob/main/User%20Flags/Verified_Developer/Verified_Developer.svg" },
        { DiscordFlags.Hypesquad, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Hypesquad/Hypesquad.svg" },
        { DiscordFlags.HypesquadBravery, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Hypesquad_Online_House_1/Hypesquad_Online_House_1.svg" },
        { DiscordFlags.HypesquadBrilliance, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Hypesquad_Online_House_2/Hypesquad_Online_House_2.svg" },
        { DiscordFlags.HypesquadBalance, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Hypesquad_Online_House_3/Hypesquad_Online_House_3.svg" },
        { DiscordFlags.BugHunterLevel1, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Bug_Hunter_Level_1/Bug_Hunter_Level_1.svg" },
        { DiscordFlags.BugHunterLevel2, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Bug_Hunter_Level_2/Bug_Hunter_Level_2.svg" },
        { DiscordFlags.CertifiedModerator, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Certified_Moderator/Certified_Moderator.svg" },
        { DiscordFlags.Partner, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Partner/Partner.svg" },
        { DiscordFlags.PremiumEarlySupporter, "https://raw.githubusercontent.com/Mateo-tem/Discord-Flags-and-Badges/main/User%20Flags/Premium_Early_Supporter/Premium_Early_Supporter.svg"},
        { DiscordFlags.Staff, "https://github.com/Mateo-tem/Discord-Flags-and-Badges/blob/main/User%20Flags/Staff/Staff.svg" }
    };

}